<div class="display-main-container">
  <div class="search-filter-container">
    <app-image-filter (onSelect)="filter($event)"></app-image-filter>
  </div>
  <div class="image-collection-container">
    <p-dataView #dv [value]="photos.photo" [lazy]="true" [totalRecords]="photos.total" [loading]="isLoading"
      (onLazyLoad)="loadNext($event)" [paginator]="true" [rows]="photos.perpage" layout="grid">
      <ng-template let-photo pTemplate="gridItem" let-i="rowIndex">
        <div class="img-card" tabindex="0" role="button" (click)="previewImage(photo, i)"
          style="background-image:url('//live.staticflickr.com/{{photo.server}}/{{ photo.id}}_{{photo.secret}}_n.jpg');">
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>

<app-image-single *ngIf="activeIndex" [activePhoto]="photos.photo[activeIndex]" [activeIndex]="activeIndex"></app-image-single>